{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict Profit</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css.css' %}">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/128/2782/2782163.png" type="image/x-icon">
</head>
<body>

<!-- The menu bar -->
    <!-- The menu bar -->
    <nav class="navbar">
        <a class="brand" href="{% url 'home' %}"><img src="https://cdn-icons-png.flaticon.com/128/2782/2782163.png" style="width: 50px; height: 50px;"></a>
        <ul>
            <li>
                <a href="{% url 'home' %}">Analyzer</a>
            </li>
            <li>
                <a href="{% url 'aboutus' %}">About</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'services' %}">Services</a>
            </li>
            {% if is_premium %}
            <li>
              <a href="{% url 'summarize_pdf' %}">Premium Services</a>
            </li>
            {%else%}
            <li>
              <a href="{% url 'payment' %}">Premium Services</a>
            </li>
            {%endif%}
            {% else %}
            <li>
                <a href="#" onclick="alert('Please sign in to access this page.'); return false;">Services</a>
            </li>
            {% endif %}
            <li>
                <a href="{% url 'contact' %}">Contact</a>
            </li>
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
  
        </ul>
        <!--Icons or Right-->
        <div style="margin-left: auto; padding: 15px; display: flex; align-items: center;">
            
            <div style="display: flex; align-items: center;">
              {% if user.is_superuser %} <!--Django for admin-->
                <a class="" href="{% url 'admin:index' %}" style="padding: 10px;"><img src="https://cdn-icons-png.flaticon.com/128/3281/3281355.png" style="width: 50px; height: 50px;"></a>
                {% endif %}
                {% if user.is_authenticated %}<!--Django for Welcome user and logout-->
                <p style="padding: 10px; margin: 0; font-weight: bold;">Hello {{user.username}}</p>
                <a class="" href="{% url 'logout' %}" style="padding: 10px;"><img src="https://cdn-icons-png.flaticon.com/128/12518/12518367.png" style="width: 50px; height: 50px;"></a>
                {%endif%}
            </div>
            
            <a class="" href="#" style="padding: 10px;"><img src="https://cdn-icons-png.flaticon.com/128/2318/2318736.png" style="width: 50px; height: 50px;"></a>
            <a class="" href="#" style="padding: 10px;"><img src="https://cdn-icons-png.flaticon.com/128/1162/1162914.png" style="width: 50px; height: 50px;"></a>
            <a class="" href="#" style="padding: 10px;"><img src="https://cdn-icons-png.flaticon.com/128/2041/2041814.png" style="width: 50px; height: 50px;"></a>
            <a class="" href="#" style="padding: 10px;"><img src="https://cdn-icons-png.flaticon.com/128/1055/1055644.png" style="width: 50px; height: 50px;"></a>
        </div>
    </nav>

    <br>


<!--Work Space-->
<div style="display: flex; padding: 10px;">
      <!--Notes-->
      <div class="notes">   
        <h3>Notes:</h3>
        <div style="margin: 10px; font-size: 20px;"><p>1-Fill The data correctly</p></div>
        <div style="margin: 10px; font-size: 20px;"><p>2- this Tool here use DecisionTreeRegressorion so you will have more than 1 answer for same data </p></div>
        <div style="margin: 10px; font-size: 20px;"><p></p></div>
      </div>  




    <form action="{% url 'predict_profit' %}" method="post" class="formTools">
        {% csrf_token %}
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" required><br>

        <label for="last_year_sales">Last Year Sales:</label>
        <input type="number" name="last_year_sales" id="last_year_sales" required><br>

        <label for="marketing_cost">Marketing Cost:</label>
        <input type="number" name="marketing_cost" id="marketing_cost"><br>

        <label for="units_sold">Units Sold:</label>
        <input type="number" name="units_sold" id="units_sold"><br>

        <label for="competitor_pricing">Competitor Pricing:</label>
        <input type="number" name="competitor_pricing" id="competitor_pricing"><br>

        <label for="marketing_rate">Marketing Rate (1 to 10):</label>
        <input type="number" name="marketing_rate" id="marketing_rate" min="1" max="10" required><br>

        <button type="submit">Predict Profit</button>
    </form>

  </div>

  
  <div style="align-items: center; text-align: center; margin-top: 30px;">
    <h1>The Result Will Show Below <img src="https://cdn-icons-png.flaticon.com/128/8997/8997995.png" style="width: 50px; height: 50px;"></h1> 
    <hr><br><br>
    {% if predicted_profit %}
    <h3 style="font-weight: bold; margin: 10px; margin-bottom: 30px;">Predicted Profit: ${{ predicted_profit }}</h3>
    {% endif %}

    {% if graph_image %}
    
    <img src="data:image/png;base64,{{ graph_image }}" alt="Graph">
    {% endif %}
    </div>

     
</body>
</html>
