{% load static %} <!--to show css from django-->
<html>


  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css.css' %}">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/128/2782/2782163.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap">

    <style>
    </style>
  </head>

<body>
    <!-- The menu bar -->
    <nav class="navbar">
      <a class="brand" href="{% url 'home' %}"><img src="https://cdn-icons-png.flaticon.com/128/2782/2782163.png" style="width: 50px; height: 50px;"></a>
      <ul>
          <li>
              <a href="{% url 'home' %}">Analyzer</a>
          </li>
          <li>
              <a href="{% url 'aboutus' %}">About</a>
          </li>
          {% if user.is_authenticated %}
          <li>
              <a href="{% url 'services' %}">Services</a>
          </li>
          {% if is_premium %}
          <li>
            <a href="{% url 'summarize_pdf' %}">Premium Services</a>
          </li>
          {%else%}
          <li>
            <a href="{% url 'payment' %}">Premium Services</a>
          </li>
          {%endif%}
          {% else %}
          <li>
              <a href="#" onclick="alert('Please sign in to access this page.'); return false;">Services</a>
          </li>
          {% endif %}
          <li>
              <a href="{% url 'contact' %}">Contact</a>
          </li>
          <li>
              <a href="{% url 'login' %}">Login</a>
          </li>

      </ul>
      <!--Icons or Right-->
      <div style="margin-left: auto; padding: 15px; display: flex; align-items: center;">
          
          <div style="display: flex; align-items: center;">
            {% if user.is_superuser %} <!--Django for admin-->
              <a class="" href="{% url 'admin:index' %}" style="padding: 10px;"><img src="https://cdn-icons-png.flaticon.com/128/3281/3281355.png" style="width: 50px; height: 50px;"></a>
              {% endif %}
              {% if user.is_authenticated %}<!--Django for Welcome user and logout-->
              <p style="padding: 10px; margin: 0; font-weight: bold;">Hello {{user.username}}</p>
              <a class="" href="{% url 'logout' %}" style="padding: 10px;"><img src="https://cdn-icons-png.flaticon.com/128/12518/12518367.png" style="width: 50px; height: 50px;"></a>
              {%endif%}
          </div>
          
          <a class="" href="#" style="padding: 10px;"><img src="https://cdn-icons-png.flaticon.com/128/2318/2318736.png" style="width: 50px; height: 50px;"></a>
          <a class="" href="#" style="padding: 10px;"><img src="https://cdn-icons-png.flaticon.com/128/1162/1162914.png" style="width: 50px; height: 50px;"></a>
          <a class="" href="#" style="padding: 10px;"><img src="https://cdn-icons-png.flaticon.com/128/2041/2041814.png" style="width: 50px; height: 50px;"></a>
          <a class="" href="#" style="padding: 10px;"><img src="https://cdn-icons-png.flaticon.com/128/1055/1055644.png" style="width: 50px; height: 50px;"></a>
      </div>
  </nav>

    <br>


<!--Work Space-->
<div style="display: flex; padding: 10px;">
      <!--Notes-->
      <div class="notes">   
        <h3>Notes:</h3>
        <div style="margin: 10px; font-size: 20px;"><p>1-Sort name Alphabetical or Numbuers</p></div>
        <div style="margin: 10px; font-size: 20px;"><p>2-Seprate columns by , if you want more than 1 column</p></div>
        <div style="margin: 10px; font-size: 20px;"><p>3-The data must be same type str or int cant be both</p></div>
      </div>   

 <!-- The form for excel file -->
        
            <form method="post" enctype="multipart/form-data"  class="formTools" style="width: 400px;">
              {% csrf_token %}
              <label for="file">Select Excel file:</label>
              <input type="file" name="file" id="file" accept=".xlsx, .xls" class="button2" required>
              <br>
              <label for="column_names">Enter column names (comma-separated):</label>
              <input type="text" name="column_names" id="column_names" class="buton2" required>
              <br><br>
              <label for="sort_order">Select sort order:</label>
              <select name="sort_order" id="sort_order" class="button2" required>
                  <option value="in_order">In Order</option>
                  <option value="disorder">Disorder</option>
              </select>
              <br>
              <button type="submit" value="Sort">Sort</button>
          </form>
          

</div>


<hr>
<!--Error Hanlding-->
{% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li style="color: red; font-weight: bold;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

<!--good luck-->
<h1 style="text-align: center; font-size: 90px; margin-top: 90px;">GOOD LUCK <img src="https://cdn-icons-png.flaticon.com/128/10393/10393244.png" style="width: 90px; height: 90px;"></h1>

            
  </body>
    
</html>
